*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Tahoma, sans-serif;
    
}

.header{
    display: flex;
    border-bottom: 1px solid rgb(246, 5, 246);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: rgb(246, 5, 246);
}
.logoSection{
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}
.logoSection i{
    color: rgb(194, 15, 194);
}
.ma {
    background-color: rgba(247, 81, 247, 0.609); 
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50px; 
    height: 50px; 
    margin: 5px;
}

.ma h3 {
    font-size: 22px;
    text-align: center;
    padding: 6px;
    margin: 0; /* Remove default margin */
}

.dateSection{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.calendar span{
    font-size: 22px;

}
.total h2{
    display: inline;
}
/* --------------------------------------- */







.mainSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
/* ------imp----- */
.col-md-3{
    margin: 16.6px;
    height: 200px;
    max-width: 300px;
}
.box1{
    background-color: rgb(154, 7, 154);
    display: flex;  /* for positioning to center */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(154, 7, 154);
  
}
.box1 i{
    color: white;
    font-size: 30px;
    
}
.box1 p{
    color: white;
    
}




.box2{
    display: flex;
    border: 1px solid #19af32fa;
    padding: 0;
    
}

 .div1{
    height: 100%;
    width: 45%;
    background-color:#19af32fa;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    /* display: flex;
    align-content: space-between;
    flex-direction: column; */
    

}
.div2{
    height: 100%; 
    width: 55%;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    padding-left: 3%;
    padding-top: 30%;

}
.box{
    border-radius: 10px;
    overflow: hidden;

}
.one h3{
    font-size: 1.2em;
    color: white;
}
.one,.two,.three{
    margin-left: 7%;
    color: white;
    padding-top: 6%;
}
.two{
    margin-top: 28%;  
}
.two i{
    margin-left: 6%;
}
.three{
    font-size: .8em;
    margin-top: 25%;
    
}
.div2{
    margin-top: -5%;
}
.div2 p{
    opacity: 0.8;
    margin-bottom: 0;
}
.div2 h2{
    margin-top: 0;
    font-size: 1.7em;
}
.box21 .div2 h2{
    color:#19af32fa;
}
.box3{
    border: 1px solid rgb(200, 148, 17);
}
.box3 .div1{
    background-color: rgb(200, 148, 17);
    
}
.box3 .div2 h2{
    color: rgb(200, 148, 17);
}

.box4{
    border: 1px solid rgba(214, 29, 79, 0.969);
}

.box4 .div1{
    background-color: rgba(214, 29, 79, 0.969);
}
.box4 .div2 h2{
    color: rgba(214, 29, 79, 0.969);
}


.box5{
    border: 1px solid crimson ;
}
.box5 .div1{
    background-color: crimson ;
}
.box5 .div2 h2{
    color: crimson;
}


.box6{
    border: 1px solid  rgba(7, 168, 138, 0.764);
}
.box6 .div1{
    background-color: rgba(7, 168, 138, 0.764);
}
.box6 .div2 h2{
    color: rgba(11, 143, 119, 0.948);
}

.box7{
    border: 1px solid rgba(15, 15, 190, 0.917); ;
}
.box7 .div1{
    background-color: rgba(15, 15, 190, 0.917);
}
.box7 .div2 h2{
    color:rgba(15, 15, 190, 0.917);
}
.box7 .div2 p{
    font-size: 16px;
    color: black;
    opacity: 0.8;
    margin-bottom: 0;
}
.box7 .div2{
    max-width: 100%;
    padding-top: 80px;
}
.box7 a{
    text-decoration: none;
   
}

.box8{
    border: 1px solid rgb(119, 11, 11);
}
.box8 .div1{
    background-color: rgb(119, 11, 11);
}
.box8 .div2 h2{
    color: rgb(119, 11, 11);
}









